
 body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #62D151;
    color: white;
    padding: 20px;
    text-align: center;
}

#inicio {
    text-align: center;
    padding: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

    nav ul li {
        margin: 0 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.contenedor-panel {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
}



.panel {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    /* Propiedades para que el enlace se comporte como una caja */
    display: block;
    text-decoration: none; /* Quita el subrayado */
    color: #333; /* Color del texto para que no sea azul */
    transition: transform 0.3s ease; /* Transición suave para el efecto */
}

    .panel:hover {
        /* Efecto visual al pasar el ratón para indicar que es clicable */
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px); /* Pequeño levantamiento */
        /*cursor: pointer;*/
    }

    .panel img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }



footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .contenedor-panel {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 80%;
    }

