body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}


ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

    ul.menu li {
        margin: 0;
    }

        /* Enlaces del menú */
        ul.menu li a {
            display: block;
            padding: 15px 20px;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            /* Cambio de color al pasar el mouse */
            ul.menu li a:hover {
                background-color: #555;
            }

            ul.menu li a::before {
                content: "➤ ";
                color: #ffcc00;
                margin-right: 5px;
            }

/* Pie de Página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
}