body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-image: url('media/IngenioLaCabana.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed;

}



.CONTENEDOR {
    background-position: 0% 0%;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.90);
    width: 416px;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .contenedor-servicios {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 80%;
    }
}

