<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--cadena para pc de la casa-->
	<!--<connectionStrings>
		<add name="ConexionRutinasMTI" connectionString="Data Source=192.168.1.2; Initial Catalog=REPORTES; User ID=su; Password=su;"
		  providerName="System.Data.SqlClient" />
		<add name="REPORTESConnectionString" connectionString="Data Source=192.168.1.2; Initial Catalog=REPORTES;Persist Security Info=True;User ID=su;Password=su;Encrypt=False;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
		<add name="REPORTESConnectionString2" connectionString="Data Source=192.168.1.2; Initial Catalog=REPORTES;Persist Security Info=True;User ID=su;Password=su;Encrypt=False;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
		<add name="REPORTESConnectionString3" connectionString="Data Source=192.168.1.2; Initial Catalog=REPORTES;Persist Security Info=True;User ID=su;Password=su;Encrypt=False;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>-->
	<!--cadena para pc del Ingenio-->
	<!--<connectionStrings>
  <add name="ConexionRutinasMTI" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=REPORTES; Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="REPORTESConnectionString" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=REPORTES; Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="REPORTESConnectionString2" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=REPORTES; Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="REPORTESConnectionString3" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=REPORTES; Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="REPORTESConnectionString4" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="REPORTESConnectionString5" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>-->
	<!--cadena para pcs de la red-->
	<connectionStrings>
		<add name="ConexionRutinasMTI"
     connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;Integrated Security=False;TrustServerCertificate=True"
     providerName="System.Data.SqlClient" />
    <add name="REPORTESConnectionString" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;Integrated Security=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="REPORTESConnectionString2" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;Integrated Security=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="REPORTESConnectionString3" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;Integrated Security=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	<add name="REPORTESConnectionString4" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;TrustServerCertificate=True"providerName="System.Data.SqlClient" />
	<add name="REPORTESConnectionString5" connectionString="Data Source=10.1.1.222\SQLEXPRESS;Initial Catalog=REPORTES;User ID=su;Password=su;TrustServerCertificate=True"providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" defaultUrl="Default.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <location path="AcercaDe.aspx">
    <!-- Permitir acceso anónimo a la página AcercaDe.aspx -->
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>